* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#main-div {
   display: flex;
   flex-direction: column;
   align-items: center;
}

body {
   background-color: rgba(0, 0, 0, 0.886);
   font-family: 'Dosis', sans-serif;
}

p {
   color: white;
   font-size: 20px;
   margin-top: 10px;
}

#game-name {
   font-size: 30px;
   font-weight: bold;
   letter-spacing: 2px;
   margin-bottom: 30px;
}

button {
   background-color: rgba(0, 0, 0, 0.886);
   border: solid 2px white;
   border-radius: 60px;
   padding: 30px;
}

#reset {
   color: white;
   font-size: 15px;
   padding: 10px 20px;
   margin-top: 30px;
}

img {
   width: 40px;
   height: 40px;
   object-fit: contain;
}